<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>Settings - About</title>
    </head>
    <body>
        <div>
            <a href="/settings"><i class='bx bx-arrow-back'></i></a>
        </div>
    </body>
</html>
