<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>Settings - About</title>
    </head>
    <body>
        <div>
            <a href="/settings"><box-icon name="arrow-back"></box-icon></a>
        </div>
        <h1>Account</h1>
        <div class="container">
            <h2>Change Username</h2>
            <form id="usernameForm">
                <input name="username" />
                <button name="usernameSubmit">Submit</button>
            </form>
        </div>

        <script type="module">
            import formSend from "/js/formSend.js";
            formSend("/api/account/setUsername", document.getElementById("usernameForm"), "/");
        </script>
    </body>
</html>
