<nav class="block md:hidden fixed bottom-0 left-0 right-0 bg-[var(--color-quietquest-blue)] text-[var(--color-quietquest-cream)] z-50 py-2">
    <div class="container mx-auto px-4">
        <div class="flex justify-around items-center">
            <a href="/" class="flex flex-col items-center p-2 text-sm">
                <img src="/quietQuestIcons/home.svg" alt="home" class="h-6 w-6" />
            </a>
            <a href="/shop" class="flex flex-col items-center p-2 text-sm">
                <img src="/quietQuestIcons/store.svg" alt="store" class="h-6 w-6" />
            </a>
            <a href="#" class="flex flex-col items-center p-2 text-sm">
                <img src="/quietQuestIcons/bookmark.svg" alt="journal" class="h-6 w-6" />
            </a>
            <a href="#" class="flex flex-col items-center p-2 text-sm">
                <img src="/quietQuestIcons/user-circle.svg" alt="profile" class="h-6 w-6" />
            </a>
            <a href="/logout" class="text-sm">Logout</a>
        </div>
    </div>
</nav>
