<div class="weather-widget">
    <div class="weather-widget-child-container">
      <div class="weather-icon">
        <img id="weather-icon" src="/weather-icons/Cloudy.svg" alt="Weather Icon">
      </div>
      <div class="weather-info">
        <div id="weather-city">Vancouver</div>
        <div id="weather-temp">22°C</div>
        <div id="weather-desc"></div>
      </div>
    </div>
</div>