<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>About Quiet Quest</title>
    </head>
    <body>
        Team Name: BBY-22 Team Members:
        <ul>
            <li>Angelo Santos</li>
            <li>Nick Nepomuceno</li>
            <li>Andrew Hwang</li>
            <li>Giorgio Donatelli</li>
            <li>Daryan Worya</li>
        </ul>
    </body>
</html>
