<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello EJS!</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <a href="/register">Register</a><br />
    <a href="/login">Login</a><br />
    <a href="/logout">Logout</a><br />
    You are currently logged in as:
    <%- currentUser %>
    <br />
    <%- body %>
    <br />
    You have viewed this page
    <%- views %>
    times.
  </body>
</html>
