<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>Login</title>
    </head>
    <body>
        <a href="/">Back</a>
        <br />
        Login
        <form id="loginForm">
            <input name="usernameEmail" type="text" placeholder="Username/Email" />
            <input name="password" type="password" placeholder="Password" />
            <button>Login</button>
        </form>
        <p>OR</p>
        <button href="/register">Register</button>
        <script type="module">
            import formSend from "/js/formSend.js";
            formSend("/api/auth/login", document.getElementById("loginForm"), "/");
        </script>
    </body>
</html>
