<%- include('partials/header') %>
  <body>
    <a href="/">Back</a>
    <br />
    Login
    <form id="loginForm">
      <input name="usernameEmail" type="text" placeholder="Username/Email" />
      <input name="password" type="password" placeholder="Password" />
      <button>Submit</button>
    </form>
    <script type="module">
      import formSend from "/js/formSend.js";
      formSend("/api/login", document.getElementById("loginForm"), "/");
    </script>
  </body>
</html>
