<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    Currently logged in user:
    <%- currentUser %>
    <br />
    Logout
    <form id="logoutForm">
      <button>Submit</button>
    </form>
    <script type="module">
      document.getElementById("logoutForm").addEventListener("submit", (event) => {
        event.preventDefault();
        fetch("/api/logout", { method: "POST" });
      })
    </script>
  </body>
</html>
