<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="css/tailwind.css" />
  </head>
  <body>
    <a href="/">Back</a>
    <br />
    Register
    <form id="registerForm">
      <input name="username" type="text" placeholder="Username" />
      <input name="email" type="email" placeholder="Email" />
      <input name="password" type="password" placeholder="Password" />
      <button>Submit</button>
    </form>
    <script type="module">
      import formSend from "/js/formSend.js";
      formSend("/api/register", document.getElementById("registerForm"), "/login");
    </script>
  </body>
</html>
