<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>Settings</title>
    </head>

    <body>
        <a href="/settings/account">
            <div>
                <h2>Account</h2>
                <p>Options regarding your QuietQuest account.</p>
            </div>
        </a>
        <a href="/about">
            <div>
                <h2>About</h2>
                <p>Details about our app and the developers.</p>
            </div>
        </a>
        <a href="/">
            <div>
                <h2>Home</h2>
                <p>Go home.</p>
            </div>
        </a>
        <a href="/shop">
            <div>
                <h2>Shop</h2>
                <p>Go to the item shop.</p>
            </div>
        </a>
        <a href="/profile">
            <div>
                <h2>Profile</h2>
                <p>Go to your profile.</p>
            </div>
        </a>
        <form id="logoutForm">
            <button>Logout</button>
        </form>
        <script type="module">
            import formSend from "/js/formSend.js";
            formSend("/api/auth/logout", document.getElementById("logoutForm"), "/");
        </script>
    </body>
</html>
