<!doctype html>
<html lang="en">
    <head>
        <%- include('partials/header') %>
        <title>Settings</title>
    </head>

    <body>
        <h1>Settings</h1>
        <a href="/settings/account">
            <div>
                <h2>Account</h2>
                <p>Change email, password, or username.</p>
            </div>
        </a>
        <a href="/settings/appearance">
            <div>
                <h2>Appearance</h2>
                <p>Toggle dark mode.</p>
            </div>
        </a>
        <a href="/settings/about">
            <div>
                <h2>About</h2>
                <p>Details about our app and the developers.</p>
            </div>
        </a>
        <form id="logoutForm">
            <button>Logout</button>
        </form>
        <script type="module">
            import formSend from "/js/formSend.js";
            formSend("/api/logout", document.getElementById("logoutForm"), "/");
        </script>
    </body>
</html>
